<div class="container">
    <div class="row">
      <section id="ai-assistance" class="section col-12 my-3">
        <app-ai-assistance></app-ai-assistance>
      </section>
  
      <section id="video-editing" class="section col-12 my-3">
        <app-video-editing></app-video-editing>
      </section>
  
      <section id="instagram-posts" class="section col-12 my-3">
        <app-instagram-posts></app-instagram-posts>
      </section>
  
      <section id="tiktok-videos" class="section col-12 my-3">
        <app-tiktok-videos></app-tiktok-videos>
      </section>
  
      <section id="youtube-videos" class="section col-12 my-3">
        <app-youtube-videos></app-youtube-videos>
      </section>
  
    </div>
  </div>
  